import(AnnotationDbi, KEGGREST, reactome.db, org.Hs.eg.db)

importClassesFrom(Biobase, ExpressionSet)

importFrom(Biobase,exprs,pData)

importClassesFrom(methods, character, data.frame, list, matrix)

importFrom(GOstats, hyperGTest)

importFrom(cluster, agnes)

importFrom(utils, count.fields, read.table)

importFrom(graphics, abline, axis, box, plot)

importFrom(limma, contrasts.fit, eBayes, lmFit, makeContrasts,
           topTable)

importFrom(stats, anova, as.dist, as.formula, cor, cutree, lm,
           model.matrix, p.adjust, t.test)

importFrom("methods", "new")

export(filterDataSet, findAttractors, removeFlatGenes, findSynexprs, plotsynexprs, findCorrPartners, calcFuncSynexprs)

exportClasses(SynExpressionSet, AttractorModuleSet)
